<?xml version="1.0" encoding="UTF-8" standalone="no"?><target name="DBeaver CE 26.1.0"><locations><location path="${project_loc:io.github.bakhtiiartashbolotov.dbeaver.monaco.target}/../../.cache/dbeaver-26.1.0/dbeaver" type="Directory"/></locations></target>
